nav img.logo {
 
 content:url("https://raw.githubusercontent.com/joelemiliano/spacehey-layout-crashenterminate/main/spaceheyinspanish.svg");
    }


    body {
     background-image:url("https://external-media.spacehey.net/media/s4aHupt-4CSERpRYWD6SHmOucpHrwR4EM_45V18qXTxI=/https://raw.githubusercontent.com/joelemiliano/spacehey/main/emiliano/blackcheckerboard.jpeg");
    }


 nav .top, nav .links{
     background-color: black;
     text-align: left;
     font-size: 12px;
 }

 .profile .contact .heading,
 .profile .table-section .heading {
     background-color:black;
 }

ul.links {
    font-family:Times New Roman;
    font-style:bold;
    color:white;

}

div.contact {
    border:black;
}

div.heading {
    background:black;
    color:white;
}

footer {
    background-color:gray;
}

h1 {
    font-family:Times New Roman, Times, serif;
    font-style:oblique;
    font-size:2.2em;
}

main {
color:white;
background-color:#2D2D2DC2;
}

.profile .contact, .profile .url-info, .profile .table-section, .setting-section, .home-actions {
border: 2px solid #fff0;
}
